
/********************************************************************/
/*		NAVBAR STYLES												*/
/********************************************************************/
.navbar-groupright{
	background-color: #00A1D9;
	min-height:0;
}

.navbar-brand-logo{
	max-height:25px;
	margin:5px;
	
}
.nav-center {
    margin:0;
    float:none;
	text-align:center;
	
}


/********************************************************************/
/*		LOGIN STYLES												*/
/********************************************************************/

.login-box{

	/* sizing */
	min-width:400px;
	width:60%;
	height:40%;
	
	/* positioning */
	position:absolute;
	top:0px; bottom:0px;
	left:0px; right:0px;
	margin:auto;
	
	
	/* border */
	border: 1pt solid black;
	border-radius:5px;
	
	/* padding */
	padding:20px;
	padding-top:0px;
}