
*.xcuserstate

App/GroupRight.xcodeproj/xcuserdata/scott.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

App/GroupRight.xcodeproj/project.xcworkspace/xcuserdata/scott.xcuserdatad/UserInterfaceState.xcuserstate

App/GroupRight.xcodeproj/project.xcworkspace/xcuserdata/scott.xcuserdatad/UserInterfaceState.xcuserstate
