

/********************************************************************/
/*		FORM STYLES												*/
/********************************************************************/
.groupright-divider{
	border: 1px solid #ccc;
}

.createEventForm{
	border: 7px solid #f0ad4e;
	padding:10px;
	border-radius: 10px;
}

.botpad {
	padding-bottom: 20px !important;
}

.sizing {
	width: 550px;
}