/* styles for Group Right Calendar (grcal) */

.gr-calendar{overflow:hidden;}
.gr-days{width:100%;height:100%;}

/* hour labels */

.gr-hours{
	float:left;
	width:4.5%;
	margin-right:0.5%;
	margin-top:11px;
}

.gr-hours .gr-hour{
	text-align:right;
	font-size:0.9em;
}

/* days */

.gr-day{
	float:left;
	position:relative;
}

.gr-day .gr-day-title{
	font-size:1.2em;
	text-align:center;
	width:100%;
}
.gr-day .gr-hour{
	background:#eee;
	border-top: 1px solid #ccc;
	margin:0 1.5%;
}

/* events */
.gr-day .gr-event{
	position:absolute;
	width:97%;
	margin:0 1.5%;
}

.gr-event p{
	margin:0;padding:0;
	font-weight:bold;
	margin:0 5px;
}

.gr-event p.title{ font-size:1.1em;}
.gr-event p.subtitle{ font-size: 0.9em; }