

/********************************************************************/
/*		FORM STYLES												*/
/********************************************************************/
.groupright-divider{
	border: 1px solid #ccc;
}

.createEventForm{
	border: 7px solid lightblue;
	padding:10px;
	border-radius: 10px;
}