@charset "utf-8";
/* CSS Document */

footer {
	background-color: gray;
	color: white;
	line-height: 3em;
	min-height: 3em;
	text-align: center;
	position:absolute;
	bottom:0px;
	width:100%;
}

footer p {
	margin: 0;
}

footer a {
	color: white;
}

footer a:hover {
	color: #E3C00C;
}

img.snm {
	width: 31px !important;
	height: 31px !important;
	display: inline;
}

div.footing {
	padding: 0;
}