@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
}

h1 {
	text-align: center;
	text-shadow: 1px 1px #888;
}

h2 {
	text-align: center;
	text-shadow: .5px .5px #888;
}

footer {
	background-color: gray;
	color: white;
	line-height: 3em;
	min-height: 3em;
	text-align: center;
	/*position: relative;
	bottom: 0px;*/
	width: 100%;
}

footer p {
	margin: 0;
}

footer a {
	color: white;
}

footer a:hover {
	color: #E3C00C;
}

img.snm {
	width: 31px !important;
	height: 31px !important;
	display: inline;
}

img.profpic {
	width: 31px !important;
	height: 31px !important;
	display: inline;
	margin-top: 10px;
	margin-left: 20px;
}

div.footing {
	padding: 0;
}

.heading-text {
	margin: 0;
	color: white;
	line-height: 50px;
}

header {
	background-color: #00A1D9;
}

#home-settings {
	cursor: pointer;
	cursor: hand;
}

#whitelogo {
	max-height: 32px;
	margin-top:12px;
	display: inline;
	max-width:175px;
}

#mainview {
	margin-top: 15px;
	margin-bottom: 15px;
}

div.foofooter {
	display: block;
	height: 4.5em;
}

nav {
	background-color:#00A1D9 !important;
	border: 0 !important;
	border-radius: 0 !important;
}

nav a.dropdown-toggle {
	color: white !important;
}

.dropdown-menu>li>a {
	color: black !important;
}

div.main3w {
	border: 1px solid black;
	-moz-box-shadow: .0625em .3125em .625em #888;
	-webkit-box-shadow: .0625em .3125em .625em #888;
	box-shadow: .0625em .3125em .625em #888;
}

div.main6w {
	border: 1px solid black;
	-moz-box-shadow: .0625em .3125em .625em #888;
	-webkit-box-shadow: .0625em .3125em .625em #888;
	box-shadow: .0625em .3125em .625em #888;
}

div.scrollable {
	overflow: auto;
	overflow-y: scroll;
	-ms-overflow-style: none;
}

div.scrollable::-webkit-scrollbar {
		display:none;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	margin: 3%;
}

.frontbox {
	position:absolute;
	top:95px;
	left:20px;
	bottom:35px;
	right:20px;
}

.tp15 {
	padding-top: 15px;
}