@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	background-color: #eee;
}

h1 {
	text-align: center;
	text-shadow: 1px 1px #888;
}

h2 {
	text-align: center;
	text-shadow: .5px .5px #888;
}

footer {
	background-color: gray;
	color: white;
	line-height: 3em;
	min-height: 3em;
	text-align: center;
	/*position: relative;
	bottom: 0px;*/
	width: 100%;
}

footer p {
	margin: 0;
}

footer a {
	color: white;
}

footer a:hover {
	color: #E3C00C;
}

img.snm {
	width: 31px !important;
	height: 31px !important;
	display: inline;
}

img.profpic {
	width: 31px !important;
	height: 31px !important;
	display: inline;
	margin-top: 10px;
	margin-left: 20px;
}

div.footing {
	padding: 0;
}

.heading-text {
	margin: 0;
	color: white;
	line-height: 50px;
}

header {
	background-color: #00A1D9;
}

#home-settings {
	cursor: pointer;
	cursor: hand;
}

#whitelogo {
	max-height: 32px;
	margin-top:12px;
	display: inline;
	max-width:175px;
}

#mainview {
	margin-top: 15px;
	margin-bottom: 15px;
}

div.foofooter {
	display: block;
	height: 4.5em;
}

nav {
	background-color:#00A1D9 !important;
	border: 0 !important;
	border-radius: 0 !important;
}

nav a.dropdown-toggle {
	color: white !important;
}

.dropdown-menu>li>a {
	color: black !important;
}

.dropdown-menu>hr{
	margin:0.25em 0.5em;
}

div.main3w {
	border: 1px solid black;
	-moz-box-shadow: .0625em .3125em .625em #888;
	-webkit-box-shadow: .0625em .3125em .625em #888;
	box-shadow: .0625em .3125em .625em #888;
	background-color: white;
}

div.main6w {
	border: 1px solid black;
	-moz-box-shadow: .0625em .3125em .625em #888;
	-webkit-box-shadow: .0625em .3125em .625em #888;
	box-shadow: .0625em .3125em .625em #888;
	background-color: white;
}

div.scrollable {
	overflow: auto;
	overflow-y: scroll;
	-ms-overflow-style: none;
}

div.scrollable::-webkit-scrollbar {
		display:none;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	margin: 3%;
}

.frontbox {
	position:absolute;
	top:95px;
	left:20px;
	bottom:35px;
	right:20px;
}

.tp15 {
	padding-top: 15px;
}

.list-group-item {
	margin: 5px;
	border-radius: 4px;
}

.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;

  background-color: blue;

   border-radius: 50%;
   behavior: url(PIE.htc); /* remove if you don't care about IE8 */
   padding:2px;

    background: #fff;
    border: 2px solid #666;
}

.vcenter {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

#messageBox {
	height: 300px;
	background-color: #eee;
	margin-top: 10px;
}

.userMessage {
	background-color: #00A1D9;
	margin-top: 10px;
	color: white;
	padding: 10px;
	float: left;
	width: 75%;
	-moz-box-shadow: .0625em .3125em .625em #888;
	-webkit-box-shadow: .0625em .3125em .625em #888;
	box-shadow: .0625em .3125em .625em #888;
}

.userMessage p {
	margin: 0;
}

.convoTail {
	width: 0; 
	height: 0; 
	border-bottom: 10px solid transparent; 
	border-right:10px solid #00A1D9;
	display: inline;
	float: left;
	margin-top: 10px;
	clear: left;
}