
/********************************************************************/
/*		NAVBAR STYLES												*/
/********************************************************************/
.navbar-groupright{
	background-color: #00A1D9;
	min-height:0;
}

.navbar-brand-logo{
	max-height:25px;
	margin:5px;
	
}
.nav-center {
    margin:0;
    float:none;
	text-align:center;
	
}