
/********************************************************************/
/*		NAVBAR STYLES												*/
/********************************************************************/
.navbar-groupright{
	background-color: #00A1D9;
	min-height:0;
}

.navbar-brand-logo{
	max-height:30px;
	margin:10px;
	width:auto;
	
}
.nav-center {
    margin:0;
    float:none;
	text-align:center;
	
}

.header-center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

/********************************************************************/
/*		FORM STYLES												*/
/********************************************************************/

.btn-half{
	width:49%;
}

.groupright-divider{
	border: 1px solid #ccc;
}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"],
.login-box .btn,
.signup-box input[type="text"],
.signup-box input[type="email"],
.signup-box input[type="password"],
.signup-box .btn
{
	margin-top:10px;
}

.gr-spaced{
	margin-top:10px;
	margin-bottom:10px;
}

/********************************************************************/
/*		LOGIN STYLES												*/
/********************************************************************/

.login-box,.signup-box,.flipper,.flip-container{

	/* sizing */
	width:450px;
	height:430px;
	
	/* positioning */
	position:absolute;
	top:0px; bottom:0px;
	left:0px; right:0px;
	margin:auto;
	
}

.login-box{	
	/* padding */
	padding:20px;
	padding-top:0px;
}

.signup-box,.flipper{	
	/* padding */
	padding:20px;
	padding-top:0px;
}


.flipper{
	/* border */
	border-radius:10px;
	box-shadow: 0px 0px 50px 0px #000;
}

