
/*******************************************
BEGIN GLOBAL STANDARD FOOTER STYLES
********************************************/
footer {
	background-color: gray;
	color: white;
	line-height: 3em;
	min-height: 3em;
	text-align: center;
	position: relative;
	bottom: 0px;
	width: 100%;
}

footer p {
	margin: 0;
}

footer a {
	color: white;
}

footer a:hover {
	color: #E3C00C;
}
img.snm {
	width: 31px !important;
	height: 31px !important;
	display: inline;
}
/*******************************************
END GLOBAL STANDARD FOOTER STYLES
********************************************/
/*******************************************
BEGIN NAVBAR STYLES
********************************************/
.navbar-groupright{
	background-color: #00A1D9;
	min-height:0;
}

.navbar-brand-logo{
	max-height:25px;
	margin:5px;
	
}
.nav-center {
    margin:0;
    float:none;
	text-align:center;
	
}
/*******************************************
END NAVBAR STYLES
********************************************/