
/********************************************************************/
/*		NAVBAR STYLES												*/
/********************************************************************/
.navbar-groupright{
	background-color: #00A1D9;
	min-height:0;
	height:50px;
	margin-top: 0px;
}
.navbar-header{
	width:200px;
}
.navbar-brand{
	padding-top:9px;
}

div.holder {
	position: absolute;
	top: 3em;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

div.holder::-webkit-scrollbar {
	display:none;
}

section {
	position: relative;
	width: 100%;
	display: block;
	margin: auto;
	color: white;
	text-align: center;
}
section:before {
	content: "";
	display: block;
	padding-top: 50.5%;
}

div.content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;*/
}

div.text {
	position: absolute;
	top: 50%;
	left: 15%;
	right: 15%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

h1 {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 2.5vw;
}

p, h2 {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

h2 {
	font-size: 2em;
}

img.snm {
	width: 31px !important;
	height: 31px !important;
	display: inline;
}

/* This is code for the universal footer */
footer {
	background-color: gray;
	color: white;
	line-height: 3em;
	min-height: 3em;
	text-align: center;
	position:absolute;
	bottom:0px;
	width:100%;
}

footer p {
	margin: 0;
}

footer a {
	color: white;
}

footer a:hover {
	color: #E3C00C;
}
/* End Footer Code */
/* This is code for main content, making the footer not overlap any of it */
div.scrollable {
	overflow: auto;
	overflow-y: scroll;
	-ms-overflow-style: none;
}

.myMainContent {
	position:absolute;
	top:50px;
	bottom:3em;
	left:0;
	right:0;
}
#bgimage{  
 background: url("images/background.png") no-repeat;
 background-size: cover;
}


body {
  margin: 0;
  background: #000; 
}
video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
 background: url("images/background.png") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}
@media screen and (max-width: 767px) {
  footer { bottom:-15em;}
}

@media screen and (max-width: 408px) {
  #whitelogo {
  	float: none;
  	margin: auto;
  	display: block !important;
  	margin-top: 10px !important;
  }

  .indexButtonWrapper > .pull-right {
  	float: none !important;
  }

  .indexButtonWrapper > .pull-right > button {
  	display: block;
  	margin: auto;
  	width: 100%;
  }

  .myMainContent {
  	top: 165px;
  }
}

@media screen and (max-width: 367px) {
  .myMainContent {
    top: 150px;
  }
  #pannel {
  	font-size: 11vw !important;
  }
}

@media screen and (max-device-width: 800px) {
  html { background: url("images/background.png") #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
/* End code for main content */
@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
}

h1 {
	text-align: center;
	text-shadow: 1px 1px #888;
}

h2 {
	text-align: center;
	text-shadow: .5px .5px #888;
}

footer {
	background-color: gray;
	color: white;
	line-height: 3em;
	min-height: 3em;
	text-align: center;
	/*position: relative;
	bottom: 0px;*/
	width: 100%;
}

footer p {
	margin: 0;
}

footer a {
	color: white;
}

footer a:hover {
	color: #E3C00C;
}

img.snm {
	width: 31px !important;
	height: 31px !important;
	display: inline;
}

img.profpic {
	width: 31px !important;
	height: 31px !important;
	display: inline;
	margin-top: 10px;
	margin-left: 20px;
}

div.footing {
	padding: 0;
}

.heading-text {
	margin: 0;
	color: white;
	line-height: 50px;
}

header {
	background-color: #00A1D9;
}

#home-settings {
	cursor: pointer;
	cursor: hand;
}

#whitelogo {
	max-height: 32px;
	margin-top:12px;
	display: inline;
	max-width:175px;
}

#mainview {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px;
}

div.foofooter {
	display: block;
	height: 4.5em;
}

nav {
	background-color:#00A1D9 !important;
	border: 0 !important;
	border-radius: 0 !important;
}
#pannel{
	margin: auto;
	margin-top:10%;
	margin-bottom:10%;
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	color:white;
	text-align: center;
	font-size: 45px;
	font-family: 'Open Sans';
}
#pannel p{
	font-family: Arial;
}

